body {
    width: 100%;
    margin: 0;
    color: #4e0250;
    background-color: #e71ab1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    flex-direction: column;
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;

}

main {
    display: flex;
    flex-direction: row;

}

.sidebar{
    flex-grow: 1;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.site-title {
    font-family: cursive;
}

h1.site-title {
        font-size: 90px;

}